@import '../../styles/variables.scss';

.page-header {
  margin-bottom: 10px;
  padding-top: 10px;
  color: #efefef;
  text-align: center;

  h1 {
    margin: 0;
    padding: 15px 0;
  }

  p {
    margin: 0;
    padding-bottom: 10px;
  }
}